/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em !important;
    line-height: 1.4 !important;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background: #18453B;
}

body, html {
    height: 100%;
    font-size: 1em !important;
    line-height: 1.4 !important;
}

body, h1, h2, h3, h4, h5 {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif !important;
}

body {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    transition: opacity 1s;
}

*, *:before, *:after {
    box-sizing: initial;
}

header {
    background: url(../img/blockS_white_80px.gif) no-repeat center #18453B;
    height: 100%;
    text-align: center;
    position: relative;
}

#header-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -185px 0 0 -185px;
}

h1, h2, p, ul {
    margin: 0;
}

h3 {
    font-size: 3em;
    margin: 0 0 .5em 0;
}

ul {
    list-style-type: none;
    padding: 0px;
}

h1 {
    font-size: 3em;
    color: #fff;
}

h2 {
    font-weight: normal;
    color: #fff;
}

p {
    font-size: 1.5em;
}

nav {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding: 20px 0;
    background-color: #18453B;
    border-top: 2px dotted white;
    height: 40px;
    box-sizing: initial;
    z-index: 1000;
    display: table;
}

.fix-nav {
    position: fixed;
    top: 0px;
    border-top: none;
}

nav ul {
    padding: 0px 40px;
}

nav li {
    display: inline-block;
    padding: 0px 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    display: inline;
    transition: all 1s;
    font-size: 1.5em;
}

    nav a:hover,
    nav a:focus {
        color: #249179 !important;
        text-decoration: underline;
    }

#home-link {
    position: absolute;
    left: 10px;
    top: 25px;
    color: white;
    font-size: 1.5em;
    padding: 0px;
}

article {
    width: 100%;
    background: #fff;
    color: #18453B;
}

section {
    width: 800px;
    margin: 0px auto;
    padding: 50px 50px;
    position: relative;
    text-align: center;
}

button.details {
    position: absolute;
    height: 50%;
    right: 5px;
    top: 25%;
    border: 2px solid #249179;
    border-radius: 5px;
    padding: 8px;
}

a.details,
article a,
article a:hover {
    color: #249179;
}

.btn-green {
    color: #249179;
    background-color: #ffffff;
    transition: all .8s;
}

    .btn-green:hover {
        color: #ffffff;
        background-color: #249179;
    }

.gallery li {
    display: inline-block;
    margin: 0 2% 2% 0;
    border: 5px solid #fff;
    box-shadow: 0 0 10px #ccc;
    transition: border-color .3s;
}

    .gallery li:hover {
        border-color: #aeccf9;
    }

.details-section {
    width: 100%;
}

.section-wrapper {
    position: relative;
}

    .section-wrapper:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    .section-wrapper section {
        float: left;
    }

.detail-content {
    text-align: left;
    float: left;
    position: absolute;
    right: 0px;
    color: #fff;
    background: #249179;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.hide-stuff {
    opacity: 0;
}

.sample-wrapper,
.shareables-wrapper {
    border: 1px solid #18453B;
    margin: 20px;
    margin-bottom: 40px;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
}

.shareables-wrapper {
    margin-bottom: 20px;
}

    .sample-wrapper h4,
    .shareables-wrapper h4 {
        border-bottom: 1px solid #18453B;
        font-size: 2em;
        margin: 0 0 .5em 0;
        padding: 0 0 .5em 0;
    }

    .shareables-wrapper h4 {
        border: none;
        padding: 0px;
        margin: 0px;
    }

    .shareables-wrapper a {
        color: #249179;
    }

    .sample-wrapper p,
    .shareables-wrapper p {
        font-size: 1.2em;
    }

    .sample-wrapper .sample-content,
    .shareables-wrapper .shareables-content {
        display: block;
        margin: 20px auto;
        background-color: #fff;
        paddIng: 10px;
        border-radius: 4px;
    }

.sample-wrapper pre {
    text-align: left;
}

.detail-content .sample-wrapper,
.detail-content .shareables-wrapper {
    border: 1px solid #fff;
}

    .detail-content .sample-wrapper h4 {
        border-bottom: 1px solid #fff;
    }

    .detail-content .shareables-wrapper h4,
    .detail-content .shareables-wrapper a {
        color: #fff;
    }

.loading {
    height: 60px;
    width: 60px;
    margin: 0px auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: rotation 1.5s infinite linear;
    -moz-animation: rotation 1.5s infinite linear;
    -o-animation: rotation 1.5s infinite linear;
    animation: rotation 1.5s infinite linear;
    border-left: 6px solid rgba(51,145,124,.15);
    border-right: 6px solid rgba(51,145,124,.15);
    border-bottom: 6px solid rgba(51,145,124,.15);
    border-top: 6px solid rgba(51,145,124,.9);
    border-radius: 50%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    /*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

    .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (max-width: 800px) {
    nav {
        padding: 5px 0;
    }

    #home-link {
        top: 14px;
        font-size: 1.1em;
    }

    #header-wrapper {
        top: 60%;
        left: 55%;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.1em;
    }

    .sample-wrapper p,
    .shareables-wrapper p {
        font-size: 1em;
    }

    .sample-wrapper,
    .shareables-wrapper {
        margin: 15px 30px 15px 5px;
        /*margin-bottom: 20px;*/
    }

        .sample-wrapper h4 {
            font-size: 1.4em;
        }

    .detail-content .sample-wrapper {
        margin: 10px 5px 30px 5px;
    }

    .shareables-wrapper h4 {
        font-size: 1.5em;
    }

    button.details {
        padding: 3px;
    }

    nav a {
        font-size: 1.2em;
        line-height: 2em;
    }
}

@media (max-height: 400px) {
    #header-wrapper {
        top: 60%;
        left: 55%;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media (min-height: 600px) {
    #header-wrapper {
        top: 50%;
        left: 50%;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
